{% extends 'base.html' %} {% block title %}Pizza Party Story{% endblock %} {%
block content %}

<h1 class="display-4 text-center my-4">The Pizza Party</h1>
<form action="/story1-show">
  {% for prompt in story.prompts %}
  <div class="form-group">
    <!-- <label for="{{prompt}}{{loop.index}}">{{prompt}}</label> -->
    <input
      type="text"
      class="form-control"
      name="{{prompt}}"
      id="{{prompt}}"
      placeholder="{{prompt}}"
    />
  </div>
  {% endfor %}
  <button class="btn btn-primary">Submit</button>
</form>
{% endblock %}
